.button {
    padding: 0.5rem 0.5rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 0.5rem 0 ;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 300ms ease;
}

.button:hover {
    background: #f4f4f4;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10%;
  margin: 5px 0;
  height: auto;
  width: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

#buttons {
	margin-left: 40%;
}

img {
  width: 100%;
}

.middleAlign {
  text-align: center;
}

.row {
  width: 100%;
  margin: 0 5px;
}

.col {
  width: 20%;
}

@media (max-width: 1010px) {
  body {
    font-size: 0.5rem;
  }
}
