.btn {
    padding: 0.25rem 1rem; 
    border: 1px #ccc solid;
    display: inline;
    margin: 0.3rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 300ms ease;
}

.btn:hover {
    background: #f4f4f4;
}

#heading {
	margin-left: 3%; 
}

#details {
	margin-left: 10%;
}

#table {
	width: 90%;
}